{% extends 'base.html' %}

{% block content %}
<h1>Lista de Zapatillas</h1>

<a href="{% url 'zapatilla-create' %}" class="btn btn-primary">Añadir Zapatilla</a>

<ul>
    {% for zapatilla in object_list %}
    <li>
        <h3>{{ zapatilla.nombre }}</h3>
        {% if zapatilla.imagen %}
            <a href="{% url 'zapatilla-detail' zapatilla.id %}">
                <img src="{{ zapatilla.imagen.url }}" alt="{{ zapatilla.nombre }}" style="width: 150px; height: auto;">
            </a>
        {% else %}
            <p>No hay imagen disponible</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
